<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Righteous|Roboto+Mono|Gafata|Open+Sans" rel="stylesheet">

    <title>messages</title>

	<style>
	body::-webkit-scrollbar {

		width: 0.5em;

	}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
		border-radius: 10px;
	}

	body::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: LightGray ;
		outline: 10px solid LightGray;
	}
	*{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    body{
        background: whitesmoke;
    }

		#chatboxbartext	{
		font-size:1em;
		}

		#chatboxbarname {
			font-size:1.2em
		}

    </style>
  </head>
  <body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

	<div class="container-fluid p-0">
	<ul class="list-group m-0 p-0 " id='chatroom-items'>
	{% for chatroom in object_list %}
	<li class="d-flex list-group-item p-3 m-0 btn btn-secondary" id='chatroom'>
        {% if user != chatroom.first %}
		<img src="{{chatroom.first.profile.image.url}}" class="p-0 icon img-thumbnail rounded-circle " style="width:3rem; height:3rem;">
        {% else %}
        <img src="{{chatroom.second.profile.image.url}}" class="p-0 icon img-thumbnail rounded-circle " style="width:3rem; height:3rem;">
        {% endif %}
		{% if user != chatroom.first %}
		<a href="/../messages/{{ chatroom.first }}/{{chatroom.item.id}}/" target="right">
		<div style="max-width:0em">
			<div class="font-weight-bold text-left pb-1" id="chatboxbarname">{{ chatroom.item.name }}</div>
			<div class="font-weight-light " id="chatboxbartext">{{ chatroom.first }}</div>
		</div>
		</a>
		{% else %}
		<a href="/../messages/{{ chatroom.second }}/{{chatroom.item.id}}/" target="right">
		<div style="max-width:0em">
			<div class="font-weight-bold text-left pb-1" id="chatboxbarname" >{{ chatroom.item.name }}</div>
			<div class="font-weight-light " id="chatboxbartext">{{ chatroom.second }}</div>
		</div>
		</a>
		{% endif %}
	</li>
    <div class="font-weight-light" id="msgupdate"></div>
	{% endfor %}


    <script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'>
    </script>
	<script>
    //var count = 0

//    $(window).on('load', function () {
//        $("[class='desktopframe'][id='fuck']").each(function(){
//            //var currentTextbox = $(this);
//            //currentTextbox.replaceWith("bye");
//            console.log($(this))
//            //count = count + 1
//        });
//    })
// websocket scripts
    //console.log(window.location)
//    $("div#fuck").each(function(){
//            //var currentTextbox = $(this);
//            console.log($(this))
//            //count = count + 1
//            //currentTextbox.replaceWith(list);
//    });

    var loc = window.location
    var wsStart = 'ws://'
    if (loc.protocol == 'https:'){
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new ReconnectingWebSocket(endpoint)
    var chatroomHolder = $("#chatroom-items")
    var list = [{% for x in object_list %}'{{ x.id|escapejs }}',{% endfor %}]
    var msgList = [];

    socket.onmessage = function(e){
        console.log("message", e)
        var chatroomData = JSON.parse(e.data)
        //console.log(chatroomData)
        //console.log('{{ object_list|length }}')
        var i,j;
        var flag;
         //   console.log(msgList[i])
        for (i = 0; i < chatroomData.length; i++){
            flag = false;
            for (j = 0 ; j < list.length; j++){
                //console.log(i,j,Number(list[j]),chatroomData[i].threadid)
                if (Number(list[j]) === chatroomData[i].threadid){
                    flag = true
                    break
                }
            }
            if (flag === false){
                if (chatroomData[i].firstusername === '{{user.username}}'){
                    chatroomHolder.append('<li class="d-flex list-group-item p-3 m-0 btn btn-secondary" id="chatroom">'+'<a target="right" href="/../messages/'+chatroomData[i].secondusername+'/'+chatroomData[i].itemid+'/'+'"'+ 'target="right">'+'<img src="'+ chatroomData[i].seconduserpic +'"'+' class="git cle float-left" style="width:3rem; height:3rem;">'+'<div style="max-width:0em">'+'<div class="font-weight-bold text-left pb-1" id="chatboxbarname" >'+chatroomData[i].itemname+'</div>'+'<div class="font-weight-light " id="chatboxbartext">'+ chatroomData[i].secondusername+ '</div>'+'</div>'+'</a>'+'</li>'+'<div class="font-weight-light" id="msgupdate">'+'</div>')
                }else if (chatroomData[i].secondusername === '{{user.username}}'){
                    chatroomHolder.append('<li class="d-flex list-group-item p-3 m-0 btn btn-secondary" id="chatroom">'+'<a target="right" href="/../messages/'+ chatroomData[i].firstusername +'/'+chatroomData[i].itemid+'/'+'"'+ 'target="right">'+'<img src="'+ chatroomData[i].firstuserpic +'"'+ 'class="p-0 icon img-thumbnail rounded-circle float-left" style="width:3rem; height:3rem;">'+'<div style="max-width:0em">'+'<div class="font-weight-bold text-left pb-1" id="chatboxbarname" >'+chatroomData[i].itemname +'</div>'+'<div class="font-weight-light " id="chatboxbartext">'+ chatroomData[i].firstusername+ '</div>'+'</div>'+'</a>'+'</li>'+'<div class="font-weight-light" id="msgupdate">'+'</div>')
                }
                list.push(chatroomData[i].threadid)
            }
        }
        var count = 0
        $("div#msgupdate").each(function(){
            var currentTextbox = $(this);
            console.log(currentTextbox)
            console.log(chatroomData[count].msg)
            currentTextbox.replaceWith('<div class="font-weight-light" id="msgupdate">'+chatroomData[count].msg+'</div>')
            count = count + 1
        });
        //updateMsg(msgList)
    }

    socket.onopen= function(e){
        console.log("open", e)
    }
    socket.onerror= function(e){
        console.log("error", e)
    }
    socket.onclose= function(e){
        console.log("close", e)
    }

    var updateMsg = function(list){

    }

	</script>
	</body>
</html>

