{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3>Inbox</h3>
        <ul id='chatroom-items'>
        {% for chatroom in object_list %}
        <li>
        {% if user != chatroom.first %}
        <a href="/../messages/{{ chatroom.first }}/">
        {{ chatroom }} - {{ chatroom.first }}
        </a>
        {% else %}
        <a href="/../messages/{{ chatroom.second }}/">
        {{ chatroom }} - {{ chatroom.second }}
        </a>
        {% endif %}
        </li>
        </href>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script>
// websocket scripts
//console.log(window.location)
var loc = window.location

var wsStart = 'ws://'
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
    console.log("message", e)
}
socket.onopen= function(e){
    console.log("open", e)
}
socket.onerror= function(e){
    console.log("error", e)
}
socket.onclose= function(e){
    console.log("close", e)
}

</script>
{% endblock %}
