{% extends "base.html" %}

{% block content %}
    <div>
        <div class="my-2 d-flex">
            <h3 class="border-bottom border-light px-0 col " >Inbox</h3>
        </div>
        <div class="card-columns bg-l border-light p-2">
            <!--
            {% for item in list_all_item %}
                <div class="card border-black">
                    <div class="card-body" style="max-width: 18rem;">
                        <p class="card-text">Seller: {{ item.seller }}</a></p>
                        <p class="card-text"><a href="/items/{{item.id}}">{{ item.name }}</a></p>
                    </div>
                </div >
            {% endfor %}
            -->
        </div>
    </div>
{% endblock %}
