{% extends "base.html" %}

{% block style %}
	<style>
	</style>
{% endblock %}

{% block content %}
<div class="container-fluid row p-0 m-0 bg-white">
	<div class="col-4 p-0">
		<iframe id="left" style="height:80vh; width:100%" class="border-right" frameBorder="0" src="{% url 'messages:inbox'  %}"></iframe>
	</div>
	<div class="col p-0 ">
        {% if seller == None %}
        <iframe id="right" iframe name="right" style="height:80vh; width:100%" frameBorder="0" src="{% url 'blank'  %}">
        </iframe>
        {% else %}
        <iframe id="right" iframe name="right" style="height:80vh; width:100%" frameBorder="0" src="/../messages/{{ seller }}/{{item_id}}/"></iframe>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block script %}
<script>
console.log('{{seller}}')

$('iframe#right').on('load', function() {

    var iframeWin = this.contentWindow;
    var iframeBody = this.contentDocument.body;
    console.log(iframeWin.loc)
    // access global JS vars defined in the iframe:
    //var someIframeVariable = iframeWin.globalIframeVariable;

    // or, directly access elements in the iframe:
    var formData = $(iframeBody).find('#form');
    var msgInput = $(iframeBody).find('#id_message');
    formData.submit(function(event){
        //prevent your fomr to submit by default
        event.preventDefault()
        var msgText = msgInput.val()
        //chatHolder.append("<li>" + msgText + " via " + me + "</li>")
        //var formDataSerialized = formData.serialize()
        var finalData = {
            'message':msgText
        }
        var itemID = iframeWin.location.pathname.replace(/[^0-9]/g,'')
        var firstRemove = iframeWin.location.pathname.replace('/messages/', '')
        var secondRemove = firstRemove.replace(itemID.toString(), '')
        var seller = secondRemove.replace("//", '')


    })
});

</script>
{% endblock %}

