{% extends "base.html" %}

{% block style %}
	<style>

	</style>
{% endblock %}

{% block content %}
<div class="container-fluid row p-0 m-0">
	<div class="col-4 p-0">
		<iframe id="left" style="height:80vh; width:100%" class="border-right" frameBorder="0" src="{% url 'messages:inbox'  %}"></iframe>
	</div>
	<div class="col p-0">
        {% if seller == None %}
        <iframe id="right" iframe name="right" style="height:80vh; width:100%" frameBorder="0" src="{% url 'blank'  %}">
        </iframe>
        {% else %}
        <iframe id="right" iframe name="right" style="height:80vh; width:100%" frameBorder="0" src="/../messages/{{ seller }}/"></iframe>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
<script>
console.log('{{seller}}')
</script>
{% endblock %}

