<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

		<!-- icon pack -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Righteous|Roboto+Mono|Gafata|Open+Sans" rel="stylesheet">
		<title>messages</title>

	<style>

		body::-webkit-scrollbar {
			width: 0.5em;
		}

		body::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
			border-radius: 10px;
		}

		body::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: LightGray ;
			outline: 20px solid LightGray;
		}

		*{
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    body{

			background: whitesmoke;
    }

		#receive{
				background-color: white;
				padding: 6px 12px 7px;
		}
		#send{
				background-color: #DAF7A6;
				padding: 6px 12px 7px;
		}

		#backToInbox{
				width:100%;
		}

		#send > .list-group-item:first-child {
    	border-top-left-radius: 0em;
		}

		.list-group-item:first-child {
			/*overwrite bootstrap default first table element style*/
    	border-top-left-radius: 1.3em;
    	border-top-right-radius: 1.3em;
		}

		.list-group-item:last-child {
			border-bottom-right-radius: 1.3em;
			border-bottom-left-radius: 1.3em;
		}

		li {
				word-break: break-all;
				font-size:17px;
				border-radius: 1.3em;
				max-width:40%;
		}

		#chatinput{
				border: 2px;
				border-radius: 10px;

				margin: 10px;
		}

		#submit{
				position:absolute;
				top: 40px;
				right: 15px;
				background-color: white ;
		}
    </style>
  </head>
  <body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>


	<br>
	<div class="fixed-top">
		To be placed
	</div>
	<div class="conatainer-fluid row" style="width:100%">
		<div class="col container pl-4">
			<div class="row">
				<div class="col">
					<h4 class="text-left">Item: {{object.item.name}} </h4>
				</div>
				<div class="col">
					<h4git  class=" text-right">From: {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h4git>
				</div>
				<div class='col'>
					<h4git class='text-right'>Offer:</h4git>
					<h4git class='text-right' id='offerPriceHolder'></h4git>
					<br>
					<h4git class='text-right' id='offerAcceptHolder'></h4git>
				</div>
				<div class='col' id="offerinputBox">
				{% if user != object.item.seller %}
					<h4git class='text-right' id='buyerOfferTitle'>Enter Your Offer:</h4git>
					<br>
					<input tpye='number' class='' id="offersubmit">
					<button type='button' id='sendOfferButton'>Send</button>
				</div>
				<div class='col' id="offerinputBox">
				{% else %}
					<h4git class='text-right'>Enter Your Offer:</h4git><br>
					<button type='button' id='acceptButton'>Accept</button>
					<button type='button' id='rejectButton'>Reject</button>
				{% endif %}
				</div>
			</div>
			<ul class="row list-group p-0" id='chat-items' style="margin-bottom: 150px;">

				{% for chat in object.chatmessage_set.all %}
				{% if chat.user == user %}
				<li id='send'class="m-1 list-group-item border ml-auto">{{ chat.message }}</li>
				{% else %}
				<li id='receive' class="m-1 list-group-item border mr-auto ">{{ chat.message }}</li>
				{% endif %}

				{% endfor %}
			</ul>

			<div class=" fixed-bottom p-3 bg-white" id="chatinput">
				<form class="m-0" id='form' method='POST'> {% csrf_token %}
					<input type='hidden' id='myUsername' value='{{ user.username }}'>
					{{form.as_p }}
					<input onclick="" type='submit' class='btn btn-secondary' id="submit">
				</form>
			</div>
		</div>
		<div class="col-3">
			<div class="container-fluid d-flex d-inline-flex mt-2 mb-3" >
					<img src="{{ object.item.seller.profile.image.url }}" class="icon img-thumbnail rounded-circle p-0 " style="width:3rem; height:3rem;">
					<p id="sellername" class="card-text ml-1 pl-1 my-auto col-xl-8 col-7" style="font-size: 1.2rem;" >{{ object.item.seller }}</p>
			</div>
			<h3 class="border-bottom text-left p-1">{{object.name}}</h3>
			<img src="{{ object.item.displayPhoto.url }}" class="carousel-image d-block w-100 " alt="Image Not Found">
			<div class="container-fluid ">
					<ul class="pl-0" style="overflow:hidden;">
							<li><div class="d-flex d-inline-flex"><i class="item-icon fas fa-dollar-sign px-1"></i><p class="card-text my-auto ml-1">{{ object.item.price }}</p></div></li>
							<li><div class="d-flex d-inline-flex"><i class="item-icon far fa-question-circle"></i><p class="card-text my-auto ml-1">{{ object.item.description }}</p></div></li>
							<li><div class="d-flex d-inline-flex"><i class="item-icon far fa-pause-circle" ></i><p class="card-text my-auto ml-1">{{object.iteem.condition}}</p></div></li>
							<li><div class="d-flex d-inline-flex"><i class="item-icon far fa-clock "></i><p class="card-text mt-0 ml-1">{{object.item.createdDateTime}}</p></div></li>
					</ul>
			</div>


		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'>
	</script>
	<script>

	var removeMsgLabel = function(){
		$('label').remove();
	}

	var scDown = function(){
			$(document).scrollTop($(document).height());
	}

	$(function(){
		//scDown();
		removeMsgLabel();
	})

	// websocket scripts
	//console.log(window.location)
	var loc = window.location
	//<form id='form'>
	var formData = $("#form")
	var offerInput = $('#offersubmit')
	//django name that message with an id=id_message
	var msgInput = $('#id_message')
	var chatHolder = $("#chat-items")
	var offerPriceHolder = $('#offerPriceHolder')
	var buyerOfferTitle = $('#buyerOfferTitle')
	var sendOfferButton = $('#sendOfferButton')
	var acceptButton = $('#acceptButton')
	var rejectButton = $('#rejectButton')
	var offerAcceptHolder = $('#offerAcceptHolder')
	var offerinputBox = $('#offerinputBox')
	var me = $("#myUsername").val()

	var offerReject = false

	var wsStart = 'ws://'
	if (loc.protocol == 'https:'){
		wsStart = 'wss://'
	}
	var endpoint = wsStart + loc.host + loc.pathname
	var socket = new ReconnectingWebSocket(endpoint)

	socket.onmessage = function(e){
		console.log("message", e)
		var chatDataMsg = JSON.parse(e.data)
		if (chatDataMsg.hasOwnProperty('message')){
	        if (chatDataMsg.username === me){
				chatHolder.append("<li id='send'class='m-1 list-group-item border ml-auto'>" + chatDataMsg.message + "</li>")
        	}
        	else{
				chatHolder.append("<li id='receive' class='m-1 list-group-item border mr-auto'>" + chatDataMsg.message + "</li>")
        	}
			scDown();
    	}

     	if (chatDataMsg.hasOwnProperty('offermessage')){
     		var displayPrice = "HK$ " + chatDataMsg.offermessage.toString()
     		offerPriceHolder.text(displayPrice)
     		buyerOfferTitle.text("Update Your Offer:")
     		console.log(displayPrice)
     		if (offerReject){
     			offerAcceptHolder.text("")
     			offerReject = false
     		}
     	}

     	if (chatDataMsg.hasOwnProperty('offerAccept')){
     		if (chatDataMsg.offerAccept === true){
     			offerAcceptHolder.text("Accepted offer")
     			offerinputBox.hide()
     		}else if (chatDataMsg.offerAccept === false){
     			offerReject = true
     			offerAcceptHolder.text("Rejected offer")
     		}
     	}

	}
	socket.onopen= function(e){
		console.log("open", e)
		formData.submit(function(event){
			//prevent your fomr to submit by default
			event.preventDefault()
			var msgText = msgInput.val()
			//chatHolder.append("<li>" + msgText + " via " + me + "</li>")
			//var formDataSerialized = formData.serialize()
			var finalData = {
				'message':msgText
			}
			socket.send(JSON.stringify(finalData))
			//socket.send(formDataSerialized)
			//msgInput.val('')
			formData[0].reset()
		})

		sendOfferButton.click(function(event){
			event.preventDefault()
			var offer = offerInput.val()
			offerWithDecimal = Number.parseFloat(offer).toFixed(2)
			var offerData = {
				'offermessage':offerWithDecimal
			}
			socket.send(JSON.stringify(offerData))
     		offerInput.val(null)

     		if (offerReject){
     			offerAcceptHolder.text("")
     			offerReject = false
     		}
		})

		acceptButton.click(function(event){
			event.preventDefault()
			var offerData = {
				'offerAccept':true
			}
			//console.log(offerData.offerAccept)
			socket.send(JSON.stringify(offerData))
		})

		rejectButton.click(function(event){
			event.preventDefault()
			var offerData = {
				'offerAccept':false
			}
			//console.log(offerData.offerAccept)
			socket.send(JSON.stringify(offerData))
		})
	}

	socket.onerror= function(e){
		console.log("error", e)
	}
	socket.onclose= function(e){
		console.log("close", e)
	}

	</script>
	</body>
</html>
