<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>This is the base template for Tradable</title>

    <style>
    *{
        font-family: Calibri;
        font-size: 18px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    body{
        background: whitesmoke;
		padding-top: 90px;
    }

    </style>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

	<nav class="mb-2 navbar navbar-expand-lg navbar-light bg-light fixed-top ">
		<a class="navbar-brand" href="{% url "listallitem" %}">Tradable</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#passContent" aria-controls="passContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="passContent">
				<ul class="navbar-nav mr-auto ">
					<li class="nav-item"><a class="nav-link " href="{% url "about" %}">About</a></li>
					<li class="nav-item"><a class="nav-link " href="{% url "listallitem" %}">Product</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0 d-none d-lg-block d-xl-block ">
					<div class="form-row">
						<div class="col">
							<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						</div>
						<div class="col">
							<button class="btn btn-primary m-2 my-sm-0" type="submit">Search</button>
						</div>
					  </div>
				</form>
				<ul class="navbar-nav offset-md">
					{% if user.is_authenticated %}
						<li class="nav-item"><a class="nav-link " href="{% url "messages:inbox" %}">Inbox</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url "profile" %}">Profile</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url "logout" %}">Logout</a></li>
					{% else %}
						<li class="nav-item">
							<button class="btn btn-raised btn-secondary my-0 p-0" type="button">
								<a class="nav-link text-light" href="{% url "login" %}">Login</a>
							</button>
						</li>
					{% endif %}
				</ul>
		</div>
	</nav>


	{% if messages %}
		{% for message in messages %}
			<div class='alert alert-{{message.tags}}'>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	{% block itemNav %}

	{% endblock %}

	{% block content %}

	{% endblock %}


{% block script %}
{% endblock %}


</body>
</html>
