{% extends 'base.html' %}


{% block content %}
<div class = "container-fluid p-0">

<div class="row m-0">

	<div class = "container-fluid col-xl-10 col-lg-11 col-md-12">
		<div style="position:absolute; left:20px ; top: -35px;">
			<form class="row m-0 ">
				<div class="col-11 mx-auto mb-2">
					<span class="bmd-form-group ">
						<label for="search" class="bmd-label-floating ">Search</label>
						<input id="search" type="text" class="form-control" style="padding-top:35px"; name="search">
					</span>
				</div>
			</form>
		</div>
		<div style="height:35px"></div>
		<div class="row container-fluid">
			<div class="dropdown pt-1">
				<button type="button" class="btn btn-secondary dropdown-toggle ml-2 mb-0" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
				sort
				</button>
				 <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
					<a class="dropdown-item" href="?recent=True&search={{search_term}}">Most recent</a>
					<a class="dropdown-item" href="?low=True&search={{search_term}}">Price-low to high</a>
					<a class="dropdown-item" href="?high=True&search={{search_term}}">Price-high to low</a>
				</div>
			</div>	
			
			<div class="ml-auto">
				{% if user.is_authenticated %}
					<a class="justify-content-end" href="{% url 'myitem' %}"><button class="btn btn-raised btn-secondary px-2" type= 'button'>My item</button></a>
					<a class="justify-content-end" href="{% url "createitem" %}"><button class="btn btn-raised btn-secondary px-2" type= 'button'>Create an item</button></a>
				{% else %}
					<a class="justify-content-end" href="{% url "login" %}"><button class="btn btn-raised btn-secondary" type= 'button' >login to create</button></a>
				{% endif %}
			</div>

		</div>


		{% block myitem%}
		{% endblock%}
		{% block item %}
		<!---->
		{% endblock %}
	</div>

</div>
<div class= "container mt-2" >
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			{% if items.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1&{{params}}">&laquo; first</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}&{{params}}">previous</a></li>
			{% endif %}

			{% for item in items.paginator.page_range %}
			<li class="page-item"><a class="page-link" href="?page={{ item }}&{{params}}">{{ item }}</a></li>
			{% endfor %}

			{% if items.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}&{{params}}">next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}&{{params}}">last &raquo;</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
</div>
{% endblock %}
