{% extends 'base.html' %}

{% block content %}
<div class = "container-fluid">

<div class="row ">
	<div class="container col-2 d-none d-lg-block d-xl-block">
		<div class="container">
		</div>
	</div>
	<div = class = "container col">
		<div class="row container-fluid">
			<div class="dropdown">
				<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
				sort
				</button>
				 <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
					<a class="dropdown-item" href="?hot=True&search={{search_term}}">HOT!</a>
					<a class="dropdown-item" href="?recent=True&search={{search_term}}">Most recent</a>
					<a class="dropdown-item" href="?low=True&search={{search_term}}">Price-low to high</a>
					<a class="dropdown-item" href="?high=True&search={{search_term}}">Price-high to low</a>
				</div>
			</div>
			
			<form class="ml-auto form-inline my-2 my-lg-0 d-none d-lg-block d-xl-block">
				<div class="input-group">	
					<input type="text" class="form-control" type="search" placeholder="Search" aria-label="Search" name='search'>
					<button class="btn btn-raised btn-secondary m-2 my-sm-0" type="submit">search</button>
				</div>
			</form>
			
		</div>
		{% block item %}
		<!---->
		{% endblock %}
	</div>
	<div class="container col-2 d-none d-lg-block d-xl-block">
		<div class=" d-flex">
			{% if user.is_authenticated %}
				<a class="col row justify-content-end" href="{% url "createitem" %}"><button class="btn btn-raised btn-secondary" type= 'button'>Create an item</button></a>
			{% else %}
				<a class="col row justify-content-end" href="{% url "login" %}"><button class="btn btn-raised btn-secondary" type= 'button' >login in to create an item</button></a>
			{% endif %}
		</div>
	</div>
</div>
<div class= "container " >
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			{% if items.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1&{{params}}">&laquo; first</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}&{{params}}">previous</a></li>
			{% endif %}

			{% for item in items.paginator.page_range %}
			<li class="page-item"><a class="page-link" href="?page={{ item }}&{{params}}">{{ item }}</a></li>
			{% endfor %}

			{% if items.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}&{{params}}">next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}&{{params}}">last &raquo;</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
</div>
{% endblock %}
