{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
	<h3>Create new item here</h3>
	<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
		{{ form|crispy }}
        {{ formset|crispy }}
		<input class="btn btn-raised btn-secondary" type= 'submit' value='Save'/>
		<button class="btn btn-raised btn-secondary" onclick="goBack()">Cancel</button>
	</form>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}
