{% extends 'item/base.html' %}

{% block style%}
<style>
#textholder{
	width:100%%;
	overflow: hidden;
}
#sellername{
	overflow: hidden;
	height: 2rem;
}
#info{
	height: 1.2rem;
	overflow: hidden;
}

</style>
{% endblock %}

{% block item %}

<div class="container-fluid">
		<div class="row d-flex justify-content-center ">

			{% for item in items %}

				<div id="card" class=" col-md-2 col-5 card border-black p-0  m-1" >
					<a class="text-dark " href="/items/{{item.id}}">
						<div class="rounded card-body p-0" >
							<div class="seller m-2 row" style="height:2rem;">
								<img src="{{ item.seller.profile.image.url }}" class="icon img-thumbnail rounded-circle " style="width:2rem; height:2rem;">
								<p id="sellername" class="card-text ml-1 pl-1 pt-1 col-xl-8 col-7">{{ item.seller }}</p>
							</div>
							<div class="rounded crop_image "style="width:100%; overflow:hidden;" >
								<img class="card-img-top d_image"src="{{ item.displayPhoto.url }}" alt="Image Not Found" >
							</div>
							<div id="textholder row" class="m-1 p-1 justify-text-left col" >
								<p id="info" class="card-text m-0 col-10 p-0" >{{ item.name }}</p>
								<p id="info" class="card-text col-10 p-0">HK${{ item.price }}</p>
							</div>
						</div>
					</a>
				</div >
			{% endfor %}
		</div>

</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
	$(function(){
		crop();
	})

	var crop = function(){

		ch = $('.crop_image').height();
		cw = $('.crop_image').width();
		iw = $('.d_image').width();
		ih = $('.d_image').height();

		$('.d_image').css({
		'width':"auto",
		'height': cw,
		})


		$('.crop_image').css({
		'height': cw

		})
	}

	$(window).resize(function() {
		crop();
		console.log(iw);
		console.log(ih);
	});
});
</script>
{% endblock %}
