{% extends 'base.html' %}

{% block content %}

<div class="container card bg-light border-secondary mb-3">
    <div class="card-body">
        <h3>{{object.name}}</h3>
        <p class="card-title">look up to item : id={{ object.id }}</p>
        <p class="card-text">Item Name : {{ object.name }}</p>
        <p class="card-text">Item Description : {{ object.description }}</p>
        <p class="card-text">Item Price : ${{ object.price }}</p>
        <p class="card-text">Item Condition : {{object.condition}}</p>
        <p class="card-text">Photo :</p>
        <img src="{{ object.displayPhoto.url }}" alt="Image Not Found">
        {% for pic in photo.all %}
        <img src="{{ pic.photo.url }}" alt="Image Not Found">
        {% endfor %}
    </div>
	<div class="row">
    <button class="col btn btn-outline-primary m-2" onclick="goBack()">Back</button>
    <form action="" method="post" id="buyForm">{% csrf_token %}
	   <button type="submit" button class="col btn btn-outline-primary  m-2" name="seller" value="{{ object.seller }}" form="buyForm">BUY!</button>
    </form>
	</div>
</div>


<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}
