{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block style %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="card" >
        <div class="card-body">
        <div class="seller m-2 row" style="height:3rem;">
            <a id="icon" href="{{ user.profile.image.url }}"><img src="{{ user.profile.image.url }}" class="icon img-thumbnail rounded-circle " style="width:3rem; height:3rem;"></a>
            <p class="card-text ml-1 pl-1 pt-1" style="font-size:1.5rem;">{{ user.username }}</p>
        </div>
            <p class="card-text">{{ user.email }}</p>
        </div>
        <form method='POST' enctype='multipart/form-data'>    {% csrf_token %}
            <fieldset class='form-group col-6'>
                <legend class='border-bottom mb-4'>Profile Info</legend>
                {{ p_form|crispy}}
                {{ u_form|crispy }}
                
            </fieldset>
            <button class='btn btn-raised btn-secondary' type='submit'>Update</button>
        </form>
    </div>
    <!--enctype='multipart/form-data' important-->
    <br>
    
</div>
{% endblock %}

